body{
  margin:0;
  padding:0;
  width:100%;
  height: 100%;

}

.padding{
  padding: 3%;
}
.paddingPanel{
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 3%;
}
a{
  text-decoration: none;
  font-size: .9vw;
}

img{
  width:80%;
}
.home{
  background-image:url(../img/taxi.jpg);
  background-size: cover;
  height: 750px;
}
.color{
  background: #f7b617;
}
.tituloPanel{
  color:#fff;
  font-size: 2vw;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}
.viaja{
  color:#fff;
  font-size: 1vw;
}
.marginTop{
  margin-top: 18%;
}
.marginTopSpan{
  margin-top: 5%;
}
.borderNone{
  border: none;
}
.lab{
  width: 15%;
}
.tamanoLinea{
  font-size: .8vw;
}
button{
  color:#000;
  font-size: 1.2vw;
  font-weight: 500;
}

/*app*/
#app{
  background-color: #f7b617;
  height:500px;;
}
#panelApp{
  background-color: #f7b617;
  margin-left: 0;
  margin-top: 4%;
  padding:2%;
}
#imagenApp{
  width:60%;
}
#contenedor{
  padding:0;
}
.tituloApp{
  color:#fff;
  font-size: 2.2vw;
}
.parrafosApp{
  color:#fff;
  font-size: 1.5vw;
}

/*conductor*/
#conductor{
  background-image: url(../img/conduce.jpg);
  height: 336px;
  background-size: cover;
}
#panelConductor{
  background-color: #000;
  opacity:.5;
  background-position: bottom;
  background-origin: content-box;
  border: none;
  padding-top: 5%;
  padding-bottom: 10%;

}
#panelConductor{
  z-index: 1;
  color: #fff;
}
.botonConductor{
  background-color:  #f7b617;
  color:#fff;
}
