body{
  margin:0;
  padding:0;
  width:100%;
  height: 100%;

}
#hamburguesa{
  visibility: hidden;
}

.padding{
  padding: 3%;
}

/*home*/
#panelMobile{
  display: none;
}

#panelHomeDesktop{
  padding-right: 0;
}

.paddingPanel{
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 3%;
}
a{
  text-decoration: none;
  font-size: .9vw;
}

img{
  width:80%;
}
.home{
  background-image:url(../img/taxi.jpg);
  background-size:cover;
  background-position:bottom;

  /*height: 750px;*/
}

.tituloPanel{

  font-size: 2vw;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}
.viaja{

  font-size: 1vw;
}
.marginTop{
  margin-top: 18%;
}
.marginTopSpan{
  margin-top: 5%;
}
.borderNone{
  border: none;
}
.lab{
  width: 15%;
}
.tamanoLinea{
  font-size: .8vw;
}
button{
  color:#000;
  font-size: 1.2vw;
  font-weight: 500;
}

/*app*/

#panelApp{

  margin-left: 0;
  margin-top: 4%;
  padding:2%;
}
#imagenApp{
  width:60%;
}
#contenedor{
  padding:0;
}
.tituloApp{

  font-size: 2.2vw;
}
.parrafosApp{

  font-size: 1.5vw;
}

/*conductor*/
#conductor{
  background-image: url(../img/conduce.jpg);
  height: 336px;
  background-size: cover;
}
#panelConductor{
  background-color: #000;
  opacity:.5;
  background-position: bottom;
  background-origin: content-box;
  border: none;
  padding-top: 5%;
  padding-bottom: 10%;

}
#panelConductor{
  z-index: 1;

}

/*tarifas*/

.shapes{
  width: 20%;
  padding:0;
  margin:0;
}
#marcoImagenTarifas{
  border: 1px solid #fff;
  padding: 1%;
  margin:2%;
}
form{
  text-align: center;
  color:#FFF;
}

.input{
  background: none;
  color:#fff;
}
.parrafoTarifas{
  color:#fff;
}
#contenedorFormulario{
  padding-top: 10%;
  padding-right: 5%;
}

/*footer*/
footer{
  background-color: #2b2b2b;
}
.logoFooter{
  width:8%;
  padding-top: 3%;
}
#redesSociales{
  width:50%;
  padding-top: 90%;
  margin-right: 10%;
}
a{
  color:#fff;
}
.imagenesFinalesFooter{
  padding-top: 50%;
}
