body{
  margin:0;
  padding:0;
}

.padding{
  padding: 3%;
}
.paddingPanel{
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 3%;
}
a{
  text-decoration: none;
  font-size: .9vw;
}

img{
  width:80%;
}
.home{
  background-image:url(../img/taxi.jpg);
  background-size: cover;
  height: 750px;
}
.color{
  background: #f7b617;
}
.tituloPanel{
  color:#fff;
  font-size: 2vw;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}
.viaja{
  color:#fff;
  font-size: 1vw;
}
.marginTop{
  margin-top: 18%;
}
.marginTopSpan{
  margin-top: 5%;
}
.borderNone{
  border: none;
}
.lab{
  width: 15%;
}
.tamanoLinea{
  font-size: .8vw;
}
button{
  color:#000;
  font-size: 1.2vw;
  font-weight: 500;
}
